:root {
	font-size: calc(0.4em + 0.7vw);

	--background-color: #1E201E;
	--dark-gray: #3C3D37;
	--light-gray: #697565;
	--beige: #ECDFCC;
}

*, ::before, ::after {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html {
	font-family: monospace;
}

body {
	color: white;
	background-color: var(--background-color);
}